.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dacc0a;
  padding: 0 5rem;
}

.main-header h1 {
  color: white;
}
